.App {
  text-align: center;
}

.TopMenu {
  text-align: center;
  color: white;
  background: rgb(18, 175, 128);
  min-height: 10vh;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
